@import "tailwindcss";

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  @apply antialiased min-h-screen bg-zinc-950 text-zinc-100 bg-[radial-gradient(ellipse_at_top,var(--tw-gradient-stops))] from-zinc-900 via-zinc-950 to-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit), system-ui, sans-serif;
  font-weight: 700;
}

button {
  @apply cursor-pointer;
}
